.header{
    width: 100vw;
    height: 8vh;
    background-color:  #005b96 ;
    position: fixed;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 10vw;
    margin-left: 10vw;
    size: 60px;
    
}
.link{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.link:hover{
    color: black;
    transition: 0.5s;
    font-size: 25px;
}
.logo{
    position: absolute;
}
.selectsite{
    width: 100vw;
    height: 3vh;
    background-color: white;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
}
